<div class="d-flex justify-content-between flex-sm-row" style="flex-direction: column;">
  <div class="splash">
    <img src="/assets/images/home/elements/forumArt.png" class="portfolio">
  </div>
  <div class="forum-part">
    <div class="description">
      <h1>CONNECT WITH<br>OTHER GOLFERS.</h1>
      <p class="explain">
        Beyond providing a learning experience, we want this platform to be a place that connects golfers and helps grow the game.
        Ultimately golf is about being outside and interacting with the course and your playing part- ners. Same game for
        GeorgeGankas.golf.
      </p>
    </div>
  </div>
</div>
