<div class="d-flex justify-content-between footer flex-column flex-md-row">
    <div class="p-0 title">
        <div class="logo"><img src="/assets/images/GEORGE GANKAS.png"></div>
        <p><i class="fa fa-copyright"></i>&nbsp;2018 George Gankas Golf</p>
    </div>
    <div class="p-0">
        <h5>CONTACT</h5>
        <p>Online Support</p>
        <p>Book a Lesson</p>
        <p>Business Inquiry</p>
    </div>
    <div class="p-0">
        <h5>ABOUT</h5>
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
    </div>
    <div class="p-0">
        <h5>FOLLOW</h5>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Twitter</p>
        <p>YouTube</p>
        <p>Blog</p>
    </div>
    <div class="p-0">
        <h5>MORE</h5>
        <p>Training Aids</p>
        <p>Golf Schools</p>
        <p>Find a Coach</p>
        <p>Apparel</p>
    </div>
</div>
