<section>
    <div class="container-fluid" id="vimeoapi">
        <div class="row">
            <!-- Player-->
            <div class="player-wrapper col-xl-9 col-lg-12 col-md-12 player">
                <app-academy-short-game-player></app-academy-short-game-player>
            </div>
            <!--End Player-->
            <!--Album Options-->
            <div class="album-wrapper col-xl-3 col-lg-12 col-md-12 playlist">
                <app-academy-short-game-album></app-academy-short-game-album>
            </div>
            <!--End Album Options-->
        </div>
    </div>
</section>