<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #083c4f !important;padding-top: 0px;padding-bottom: 0px;border-top: 1px solid #0000001a;padding:0px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav custom_second_navigation">
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/course/dashboard">
          <img src="assets/images/icon7.png"> Dashboard
        </a>
        <app-dashboard-menu></app-dashboard-menu>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/course/academy">
          <img src="assets/images/icon1.png"> Academy
        </a>
        <app-adacemy-menu></app-adacemy-menu>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/course/skills">
          <img src="assets/images/icon2.png"> Skills + Drills
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/course/forum">
          <img src="assets/images/icon8.png"> Forums
        </a>
        <app-forum-menu></app-forum-menu>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/course/statistics">
          <img src="assets/images/icon6.png"> Statistics
        </a>
        <app-statistics-menu></app-statistics-menu>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/course/messages">
          <img src="assets/images/icon5.png"> Messages
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/course/vlog">
          <img src="assets/images/icon4.png"> Vlog
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/course/store">
          <img src="assets/images/icon3.png"> Store
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a class="nav-link" routerLink="/course/store">
          <img src="assets/images/icon9.png"> Search
        </a>
      </li>
    </ul>
  </div>
</nav>
