<div id="album">
    <div class="head content">
        <div class="page-title">
            <h5><span>Course 6</span>Short Game</h5>
            <!-- <circle-progress
            [percent]="50"
            [radius]="30"
            [outerStrokeWidth]="8"
             [innerStrokeWidth]="8"
            [backgroundStrokeWidth]="0"
            [innerStrokeColor] = "'#e7e8ea'"
            [outerStrokeLinecap] = "round"
            [outerStrokeColor]="'#0691ff'"
            [space]="-10"
            [backgroundPadding]="-8"
             [backgroundColor]="'#ffffff'" 
            [showTitle] = true
            [showSubtitle]= false
            [subtitleFontSize] = "10"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress> -->
        </div>
    </div>
    <div class="tabs">
        <div class="content">
            <ul class="nav nav-tabs">
                <li><a class="active show" data-toggle="tab" href="#MODULES">MODULES</a></li>
                <li><a data-toggle="tab" href="#REVIEW">REVIEW</a></li>
                <li><a data-toggle="tab" href="#GLOSSARY">GLOSSARY</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="MODULES" class="tab-pane fade in active show">
                <!--Module 1-->
                <div class="module module1">
                    <div class="title">
                        <div class="content">
                            <h6>NAME OF MODULE 1</h6>
                        </div>
                    </div>
                    <div class="elements module1">
                        <ul>
                            <!-- Here All List of Playlist are showing-->
                        </ul>
                    </div>
                </div>
                <!-- End Module -->
                <!--Module 2-->
                <div class="module module1">
                    <div class="title">
                        <div class="content">
                            <h6>NAME OF MODULE 2</h6>
                        </div>
                    </div>
                    <div class="elements">
                        <ul>
                            <li>Name of Chapter 1 
                                <input type="checkbox" name="checked"/>
                                <i class="fas  checked"></i><i class="fas fa-plus"></i>
                            </li>
                            <li>Name of Chapter 1 
                                <input type="checkbox" name="checked"/>
                                <i class="fas  checked"></i><i class="fas fa-plus"></i>
                            </li>
                            <li>Name of Chapter 1 
                                <input type="checkbox" name="checked"/>
                                <i class="fas  checked"></i><i class="fas fa-plus"></i>
                            </li>
                            <li>Name of Chapter 1 
                                <input type="checkbox" name="checked"/>
                                <i class="fas  checked"></i><i class="fas fa-plus"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Module -->
                <!--Module 2-->
                <div class="module module1">
                    <div class="title">
                        <div class="content">
                            <h6>NAME OF MODULE 3</h6>
                        </div>
                    </div>
                    <div class="elements">
                        <ul>
                            <li>Name of Chapter 1 
                                <input type="checkbox" name="checked"/>
                                <i class="fas  checked"></i><i class="fas fa-plus"></i>
                            </li>
                            <li>Name of Chapter 1 
                                <input type="checkbox" name="checked"/>
                                <i class="fas  checked"></i><i class="fas fa-plus"></i>
                            </li>
                            <li>Name of Chapter 1 
                                <input type="checkbox" name="checked"/>
                                <i class="fas  checked"></i><i class="fas fa-plus"></i>
                            </li>
                            <li>Name of Chapter 1 
                                <input type="checkbox" name="checked"/>
                                <i class="fas  checked"></i><i class="fas fa-plus"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <!-- End Module -->
                <!-- Reviews-->
                <div id="REVIEW" class="tab-pane fade in">
                <!--Review Item 01-->
                <div class="module reviews">
                    <div class="title">
                        <div class="content">
                            <h6>Review question goes right here?</h6>
                        </div>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. Duo iriure petentium complectitur ei, decore primis no mei. Eam cu affert invidunt iudicabit, ex vim graecis accumsan periculis.</p>
                    </div>
                </div>
                <!--Review Item 02-->
                <div class="module reviews">
                    <div class="title">
                        <div class="content">
                            <h6>Review question goes right here?</h6>
                        </div>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. Duo iriure petentium complectitur ei, decore primis no mei. Eam cu affert invidunt iudicabit, ex vim graecis accumsan periculis.</p>
                    </div>
                </div>
                <!--Review Item 03-->
                <div class="module reviews">
                    <div class="title">
                        <div class="content">
                            <h6>Review question goes right here?</h6>
                        </div>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. Duo iriure petentium complectitur ei, decore primis no mei. Eam cu affert invidunt iudicabit, ex vim graecis accumsan periculis.</p>
                    </div>
                </div>
                <!--Review Item 04-->
                <div class="module reviews">
                    <div class="title">
                        <div class="content">
                            <h6>Review question goes right here?</h6>
                        </div>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. Duo iriure petentium complectitur ei, decore primis no mei. Eam cu affert invidunt iudicabit, ex vim graecis accumsan periculis.</p>
                    </div>
                </div>
                <!--Review Item 05-->
                <div class="module reviews">
                    <div class="title">
                        <div class="content">
                            <h6>Review question goes right here?</h6>
                        </div>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. Duo iriure petentium complectitur ei, decore primis no mei. Eam cu affert invidunt iudicabit, ex vim graecis accumsan periculis.</p>
                    </div>
                </div>
                </div>
                <!-- End Reviews-->
                <!-- GLOSSARY -->
                <div id="GLOSSARY" class="tab-pane fade in">
                <!--GLOSSARY 1-->
                <div class="module GLOSSARY">
                    <div class="title">
                        <div class="content">
                            <h6>A</h6>
                        </div>
                    </div>
                    <div class="content">
                        <div id="accordion">
                            <!-- Glossary Item 1-->
                            <div class="item 1">
                                <a class="expand" data-toggle="collapse" data-target="#item1" aria-controls="collapseOne">Aexample <i class="fas fa-angle-right"></i></a>
                                <div id="item1" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. amet, ut eam meis accumsan. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item-->
                            <!-- Glossary Item 1-->
                            <div class="item 1">
                                <a class="expand" data-toggle="collapse" data-target="#item2" aria-controls="collapseOne">Aexample <i class="fas fa-angle-right"></i></a>
                                <div id="item2" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. amet, ut eam meis accumsan. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item-->
                            <!-- Glossary Item 1-->
                            <div class="item 1">
                                <a class="expand" data-toggle="collapse" data-target="#item3" aria-controls="collapseOne">Aexample <i class="fas fa-angle-right"></i></a>
                                <div id="item3" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. amet, ut eam meis accumsan. </p>
                                    </div>
                                </div>
                            </div>
                                <!-- End Item-->
                        </div>
                    </div>
                </div>
                <!-- End 1-->
                <!--GLOSSARY 2-->
                <div class="module GLOSSARY">
                    <div class="title">
                        <div class="content">
                            <h6>B</h6>
                        </div>
                    </div>
                    <div class="content">
                        <div id="accordion">
                            <!-- Glossary Item 1-->
                            <div class="item 1">
                                <a class="expand" data-toggle="collapse" data-target="#itemB1" aria-controls="collapseOne">Bexample <i class="fas fa-angle-right"></i></a>
                                <div id="itemB1" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. amet, ut eam meis accumsan. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item-->
                            <!-- Glossary Item 1-->
                            <div class="item 1">
                                <a class="expand" data-toggle="collapse" data-target="#itemB2" aria-controls="collapseOne">Bexample <i class="fas fa-angle-right"></i></a>
                                <div id="itemB2" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. amet, ut eam meis accumsan. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item-->
                            <!-- Glossary Item 1-->
                            <div class="item 1">
                                <a class="expand" data-toggle="collapse" data-target="#itemB1" aria-controls="collapseOne">Bexample <i class="fas fa-angle-right"></i></a>
                                <div id="itemB3" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. amet, ut eam meis accumsan. </p>
                                    </div>
                                </div>
                            </div>
                        <!-- End Item-->
                        </div>
                    </div>
                </div>
                <!-- End 02-->
                <!--GLOSSARY 3-->
                <div class="module GLOSSARY">
                    <div class="title">
                        <div class="content">
                            <h6>C</h6>
                        </div>
                    </div>
                    <div class="content">
                        <div id="accordion">
                            <!-- Glossary Item 1-->
                            <div class="item 1">
                                <a class="expand" data-toggle="collapse" data-target="#itemC1" aria-controls="collapseOne">Cexample <i class="fas fa-angle-right"></i></a>
                                <div id="itemC1" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. amet, ut eam meis accumsan. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item-->
                            <!-- Glossary Item 1-->
                            <div class="item 1">
                                <a class="expand" data-toggle="collapse" data-target="#itemC2" aria-controls="collapseOne">Cexample <i class="fas fa-angle-right"></i></a>
                                <div id="itemC2" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. amet, ut eam meis accumsan. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item-->
                            <!-- Glossary Item 1-->
                            <div class="item 1">
                                <a class="expand" data-toggle="collapse" data-target="#itemC3" aria-controls="collapseOne">Cexample <i class="fas fa-angle-right"></i></a>
                                <div id="itemC3" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, ut eam meis accumsan. Facete forensibus ad sit, vix ne agam insolens, dico tantas scriptorem at usu. amet, ut eam meis accumsan. </p>
                                    </div>
                                </div>
                            </div>
                        <!-- End Item-->
                        </div>
                    </div>
                </div>
            <!-- End 02-->
            </div>
            <!-- End GLOSSARY-->
        </div>
    </div>
</div>
