.navbar-brand {
    font-family: oswald;
    font-size: 25px;
}
#navbarDropdownMenuLink {
    color: white;
    font-size:14px;
}
.nav-item.custom_notifications {
    margin-right: 20px;
}
.custom_notifications img{
    padding:14px 0px 0px 0px;
    max-width: 17px;

}
.custom_notifications a {
    position: relative;
}
.custom_notifications span {
    position: absolute;
    top: 5px;
    right: -5px;
    background: red;
    color: white;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    line-height: 13px;
    font-size: 14px;
    font-weight: bold;
    padding-right: 1px;
}
#navbarDropdownMenuLink img {
    max-width: 30px;
    margin-right: 8px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -50px;
}
.navbar-brand {
    font-family: oswald;
    font-size: 25px;
}
#navbarDropdownMenuLink {
    color: white;
    font-size:14px;
}
.nav-item.custom_notifications {
    margin-right: 20px;
}
.custom_notifications img{
    padding:14px 0px 0px 0px;
    max-width: 17px;

}
.custom_notifications a {
    position: relative;
}
.custom_notifications span {
    position: absolute;
    top: 5px;
    right: -5px;
    background: red;
    color: white;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    line-height: 13px;
    font-size: 14px;
    font-weight: bold;
    padding-right: 1px;
}
#navbarDropdownMenuLink img {
    max-width: 30px;
    margin-right: 8px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -50px;
}
.dropdown-item{
  cursor: pointer;
}
