<main role="main" class="container myrounds-wrapper">
  <div id="accordion">
        <div class="card">
           <div class="card-header" id="headingOne">
              <h3 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="round-date"><small>September</small><span>14</span></div>
                        <div class="round-title">Westlake Golf Course</div>
                        <div class="grid-score fordesktop">86 <small>Score</small></div>
                        <div class="grid-score fordesktop">6/14 <small>Fairways Hit</small></div>
                        <div class="grid-score fordesktop">9/18 <small>Current Hit</small></div>
                        <div class="grid-score fordesktop">52 <small>Pulls</small></div>
                        <div class="round-close-scoreboard"><button>Close scoreboard</button></div>
                
                  </button>
              </h3>
           </div>
           <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                    <div class="table-grid-wrapper">
                            <table class="table-grid">
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>OUT</th>
                                    <th>10</th>
                                    <th>11</th>
                                    <th>12</th>
                                    <th>13</th>
                                    <th>14</th>
                                    <th>15</th>
                                    <th>16</th>
                                    <th>17</th>
                                    <th>18</th>
                                    <th>OUT</th>
                                    <th>Total</th>
                                </tr>
                                <tr>
                                    <td><b>User Name</b></td>
                                    <td>5</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>3</td>
              
                                    <td class="bold">36</td>
              
                                    <td>5</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>3</td>
              
                                    <td class="bold">36</td>
              
                                    <td class="row-total">72</td>
                                </tr>
                                <tr>
                                    <td class="uppercase">Fairways</td>
                                    <td>+</td>
                                    <td>+</td>
                                    <td></td>
                                    <td>-</td>
                                    <td>+</td>
                                    <td>-</td>
                                    <td></td>
                                    <td>+</td>
                                    <td>-</td>
              
                                    <td class="bold">4/6</td>
              
                                    <td>+</td>
                                    <td>+</td>
                                    <td></td>
                                    <td>-</td>
                                    <td>+</td>
                                    <td>-</td>
                                    <td></td>
                                    <td>+</td>
                                    <td>-</td>
              
                                    <td class="bold">4/6</td>
              
                                    <td class="row-total">8/16</td>
                                </tr>
                                <tr>
                                    <td class="uppercase">Greens</td>
                                    <td>+</td>
                                    <td>+</td>
                                    <td></td>
                                    <td>-</td>
                                    <td>+</td>
                                    <td>-</td>
                                    <td></td>
                                    <td>+</td>
                                    <td>-</td>
              
                                    <td class="bold">5/9</td>
              
                                    <td>+</td>
                                    <td>+</td>
                                    <td></td>
                                    <td>-</td>
                                    <td>+</td>
                                    <td>-</td>
                                    <td></td>
                                    <td>+</td>
                                    <td>-</td>
              
                                    <td class="bold">5/9</td>
              
                                    <td class="row-total">8/16</td>
                                </tr>
                                <tr>
                                    <td class="uppercase">Putts</td>
                                    <td>+</td>
                                    <td>+</td>
                                    <td></td>
                                    <td>-</td>
                                    <td>+</td>
                                    <td>-</td>
                                    <td></td>
                                    <td>+</td>
                                    <td>-</td>
              
                                    <td class="bold">15</td>
              
                                    <td>+</td>
                                    <td>+</td>
                                    <td></td>
                                    <td>-</td>
                                    <td>+</td>
                                    <td>-</td>
                                    <td></td>
                                    <td>+</td>
                                    <td>-</td>
              
                                    <td class="bold">15</td>
              
                                    <td class="row-total">30</td>
                                </tr>
                                <tr>
                                    <td class="uppercase align-left bold">Par</td>
                                    <td>5</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>3</td>
              
                                    <td class="bold">36</td>
              
                                    <td>5</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>3</td>
              
                                    <td class="bold">36</td>
              
                                    <td class="row-total">72</td>
                                </tr>
                            </table>
                        </div>
                    <div class="grid-score formobile">86 <small>Score</small></div>
                            <div class="grid-score formobile">6/14 <small>Fairways Hit</small></div>
                            <div class="grid-score formobile">9/18 <small>Current Hit</small></div>
                            <div class="grid-score formobile">52 <small>Pulls</small></div>
              </div>
           </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h3 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <div class="round-date"><small>September</small><span>14</span></div>
                            <div class="round-title">Westlake Golf Course</div>
                            <div class="grid-score fordesktop">86 <small>Score</small></div>
                            <div class="grid-score fordesktop">6/14 <small>Fairways Hit</small></div>
                            <div class="grid-score fordesktop">9/18 <small>Current Hit</small></div>
                            <div class="grid-score fordesktop">52 <small>Pulls</small></div>
                            <div class="round-close-scoreboard"><button>Close scoreboard</button></div>
                    
                    </button>
                </h3>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                        <div class="table-grid-wrapper">
                                <table class="table-grid">
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th>6</th>
                                        <th>7</th>
                                        <th>8</th>
                                        <th>9</th>
                                        <th>OUT</th>
                                        <th>10</th>
                                        <th>11</th>
                                        <th>12</th>
                                        <th>13</th>
                                        <th>14</th>
                                        <th>15</th>
                                        <th>16</th>
                                        <th>17</th>
                                        <th>18</th>
                                        <th>OUT</th>
                                        <th>Total</th>
                                    </tr>
                                    <tr>
                                        <td><b>User Name</b></td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td class="row-total">72</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase">Fairways</td>
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">4/6</td>
                
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">4/6</td>
                
                                        <td class="row-total">8/16</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase">Greens</td>
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">5/9</td>
                
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">5/9</td>
                
                                        <td class="row-total">8/16</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase">Putts</td>
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">15</td>
                
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">15</td>
                
                                        <td class="row-total">30</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase align-left bold">Par</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td class="row-total">72</td>
                                    </tr>
                                </table>
                            </div>
                         <div class="grid-score formobile">86 <small>Score</small></div>
                            <div class="grid-score formobile">6/14 <small>Fairways Hit</small></div>
                            <div class="grid-score formobile">9/18 <small>Current Hit</small></div>
                            <div class="grid-score formobile">52 <small>Pulls</small></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h3 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <div class="round-date"><small>September</small><span>14</span></div>
                            <div class="round-title">Westlake Golf Course</div>
                            <div class="grid-score fordesktop">86 <small>Score</small></div>
                            <div class="grid-score fordesktop">6/14 <small>Fairways Hit</small></div>
                            <div class="grid-score fordesktop">9/18 <small>Current Hit</small></div>
                            <div class="grid-score fordesktop">52 <small>Pulls</small></div>
                            <div class="round-close-scoreboard"><button>Close scoreboard</button></div>
                    
                    </button>
                </h3>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                        <div class="table-grid-wrapper">
                                <table class="table-grid">
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th>6</th>
                                        <th>7</th>
                                        <th>8</th>
                                        <th>9</th>
                                        <th>OUT</th>
                                        <th>10</th>
                                        <th>11</th>
                                        <th>12</th>
                                        <th>13</th>
                                        <th>14</th>
                                        <th>15</th>
                                        <th>16</th>
                                        <th>17</th>
                                        <th>18</th>
                                        <th>OUT</th>
                                        <th>Total</th>
                                    </tr>
                                    <tr>
                                        <td><b>User Name</b></td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td class="row-total">72</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase">Fairways</td>
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">4/6</td>
                
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">4/6</td>
                
                                        <td class="row-total">8/16</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase">Greens</td>
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">5/9</td>
                
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">5/9</td>
                
                                        <td class="row-total">8/16</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase">Putts</td>
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">15</td>
                
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">15</td>
                
                                        <td class="row-total">30</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase align-left bold">Par</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td class="row-total">72</td>
                                    </tr>
                                </table>
                            </div>
                        <div class="grid-score formobile">86 <small>Score</small></div>
                            <div class="grid-score formobile">6/14 <small>Fairways Hit</small></div>
                            <div class="grid-score formobile">9/18 <small>Current Hit</small></div>
                            <div class="grid-score formobile">52 <small>Pulls</small></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h3 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <div class="round-date"><small>September</small><span>14</span></div>
                            <div class="round-title">Westlake Golf Course</div>
                            <div class="grid-score fordesktop">86 <small>Score</small></div>
                            <div class="grid-score fordesktop">6/14 <small>Fairways Hit</small></div>
                            <div class="grid-score fordesktop">9/18 <small>Current Hit</small></div>
                            <div class="grid-score fordesktop">52 <small>Pulls</small></div>
                            <div class="round-close-scoreboard"><button>Close scoreboard</button></div>
                    
                    </button>
                </h3>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                        <div class="table-grid-wrapper">
                                <table class="table-grid">
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th>6</th>
                                        <th>7</th>
                                        <th>8</th>
                                        <th>9</th>
                                        <th>OUT</th>
                                        <th>10</th>
                                        <th>11</th>
                                        <th>12</th>
                                        <th>13</th>
                                        <th>14</th>
                                        <th>15</th>
                                        <th>16</th>
                                        <th>17</th>
                                        <th>18</th>
                                        <th>OUT</th>
                                        <th>Total</th>
                                    </tr>
                                    <tr>
                                        <td><b>User Name</b></td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td class="row-total">72</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase">Fairways</td>
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">4/6</td>
                
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">4/6</td>
                
                                        <td class="row-total">8/16</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase">Greens</td>
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">5/9</td>
                
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">5/9</td>
                
                                        <td class="row-total">8/16</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase">Putts</td>
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">15</td>
                
                                        <td>+</td>
                                        <td>+</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>+</td>
                                        <td>-</td>
                                        <td></td>
                                        <td>+</td>
                                        <td>-</td>
                
                                        <td class="bold">15</td>
                
                                        <td class="row-total">30</td>
                                    </tr>
                                    <tr>
                                        <td class="uppercase align-left bold">Par</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td>5</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>3</td>
                
                                        <td class="bold">36</td>
                
                                        <td class="row-total">72</td>
                                    </tr>
                                </table>
                            </div>
                        <div class="grid-score formobile">86 <small>Score</small></div>
                            <div class="grid-score formobile">6/14 <small>Fairways Hit</small></div>
                            <div class="grid-score formobile">9/18 <small>Current Hit</small></div>
                            <div class="grid-score formobile">52 <small>Pulls</small></div>
                </div>
            </div>
        </div>
      
  </div>
</main>     