<!--Page Content-->
<section>
  <div class="container-fluid" id="vimeoapi">
    <div class="row">
      <!-- Player-->
      <div id="desktop-player-only" class="col-xl-9 col-lg-9 col-md-9 player">
        <div id="player">
        <img src="assets/images/large-player.jpg">
        </div>
        <div class="video_comments">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="custom_comments">
                <input type="text" placeholder="Question Title." id="custom-question">
                <textarea rows="4" placeholder="Write your question here."></textarea>
              </div>
             <a href="#" class="btn">Post a question.</a>
              <p>All questions will be tagged and inputed into academy fourm.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="custom_comments1">
                <input type="text" placeholder="Enter friend name." id="custom-question1">
                <textarea rows="4" placeholder="Write your message here.."></textarea>
              </div>
              <a href="#" class="btn">Send Message</a>
              <p>want a personal George Gankas Coach to message? <a href="#">upgrade here.</a></p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="custom_comments1">
                <a href="#">Name of playlist <i class="fas fa-bars"></i></a>
                <a href="#">Name of playlist <i class="fas fa-bars"></i></a>
                <a href="#">Name of playlist <i class="fas fa-bars"></i></a>
              </div>
              <a href="#" class="btn">add to playlist</a>

            </div>
          </div>
        </div>
      </div>
      <!--End Player-->

      <!-- Player-->
      <div id="mobile-player-only" class="col-xl-9 col-lg-9 col-md-9 player">
        <div id="player">
          <img src="assets/images/large-player.jpg">
        </div>
        <div class="video-comments-mob">
          <div class="custom-content">
            <ul class="nav nav-tabs">
              <li><a class="active show" data-toggle="tab" href="#QUESTION">QUESTION</a></li>
              <li><a data-toggle="tab" href="#MESSAGE">MESSAGE</a></li>
              <li><a data-toggle="tab" href="#PLAYLIST">PLAYLIST</a></li>
            </ul>
          </div>
          <div class="row tab-content">
            <div id="QUESTION" class="col-xl-4 col-lg-4 col-md-4 tab-pane fade in active show">
              <div class="custom_comments">
                <input type="text" placeholder="Question Title." id="custom-question">
                <textarea rows="4" placeholder="Write your question here."></textarea>
              </div>
              <a href="#" class="btn">Post a question.</a>
              <p>All questions will be tagged and inputed into academy fourm.</p>
            </div>
            <div id="MESSAGE" class="col-xl-4 col-lg-4 col-md-4 tab-pane fade in">
              <div class="custom_comments1">
                <input type="text" placeholder="Enter friend name." id="custom-question1">
                <textarea rows="4" placeholder="Write your message here.."></textarea>
              </div>
              <a href="#" class="btn">Send Message</a>
              <p>want a personal George Gankas Coach to message? <a href="#">upgrade here.</a></p>
            </div>
            <div id="PLAYLIST" class="col-xl-4 col-lg-4 col-md-4 tab-pane fade in">
              <div class="custom_comments1">
                <a href="#">Name of playlist <i class="fas fa-bars"></i></a>
                <a href="#">Name of playlist <i class="fas fa-bars"></i></a>
                <a href="#">Name of playlist <i class="fas fa-bars"></i></a>
              </div>
              <a href="#" class="btn">add to playlist</a>

            </div>
            <span href="#" class="custom-close"><i class="fa fa-times"></i> Close</span>
          </div>
        </div>
      </div>
      <!--End Player-->


      <!--Album Options-->
      <div class="col-xl-3 col-lg-3 col-md-3 playlist">
        <div id="album">
          <div class="head content">
            <h5><span>Course 6</span>SHORT GAME</h5>
            <div id="circle" class="circle"><strong>37%</strong></div>
          </div>
          <div class="tabs">
            <div class="content">
              <ul class="nav nav-tabs">
                <li><a class="active show" data-toggle="tab" href="#MODULES">MODULES</a></li>
                <li><a data-toggle="tab" href="#REVIEW">REVIEW</a></li>
                <li><a data-toggle="tab" href="#GLOSSARY">GLOSSARY</a></li>
              </ul>
            </div>
            <div class="tab-content">
              <div id="MODULES" class="tab-pane fade in active show">
                <!--Module 1-->
                <div class="module module1">
                  <div class="title">
                    <div class="content">
                      <h6>NAME OF MODULE 1</h6>
                      <div class="custom_total_checked">
                        <span class="active_no">1</span>/<span class="active_total_no">4</span>
                      </div>
                    </div>
                  </div>
                  <div class="elements">
                    <ul>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- End Module -->
                <!--Module 2-->
                <div class="module module1">
                  <div class="title">
                    <div class="content">
                      <h6>NAME OF MODULE 2</h6>
                      <div class="custom_total_checked">
                        <span class="active_no">1</span>/<span class="active_total_no">4</span>
                      </div>
                    </div>
                  </div>
                  <div class="elements">
                    <ul>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- End Module -->
                <!--Module 2-->
                <div class="module module1">
                  <div class="title">
                    <div class="content">
                      <h6>NAME OF MODULE 3</h6>
                      <div class="custom_total_checked">
                        <span class="active_no">1</span>/<span class="active_total_no">4</span>
                      </div>
                    </div>
                  </div>
                  <div class="elements">
                    <ul>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                      <li>Name of Chapter 1
                        <input type="checkbox" name="checked"/>
                        <i class="fas  checked"></i><i class="fas fa-plus"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- End Module -->
              </div>
              <div id="REVIEW" class="tab-pane fade in">
                <div class="title">
                  <div class="content">
                    <h6>Reviews Question goes rights here?</h6>
                  </div>
                </div>
                <div class="elements">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                    Nunc sem est, mattis rutrum efficitur at, tempus in turpis. Vestibulum eu sem faucibus.
                    Integer vehicula lorem quis tellus vehicula.
                  </p>
                </div>
                <div class="title">
                  <div class="content">
                    <h6>Reviews Question goes rights here?</h6>
                  </div>
                </div>
                <div class="elements">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                    Nunc sem est, mattis rutrum efficitur at, tempus in turpis. Vestibulum eu sem faucibus.
                    Integer vehicula lorem quis tellus vehicula.
                  </p>
                </div>
                <div class="title">
                  <div class="content">
                    <h6>Reviews Question goes rights here?</h6>
                  </div>
                </div>
                <div class="elements">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                    Nunc sem est, mattis rutrum efficitur at, tempus in turpis. Vestibulum eu sem faucibus.
                    Integer vehicula lorem quis tellus vehicula.
                  </p>
                </div>
                <div class="title">
                  <div class="content">
                    <h6>Reviews Question goes rights here?</h6>
                  </div>
                </div>
                <div class="elements">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                    Nunc sem est, mattis rutrum efficitur at, tempus in turpis. Vestibulum eu sem faucibus.
                    Integer vehicula lorem quis tellus vehicula.
                  </p>
                </div>

              </div>

              <div id="GLOSSARY" class="tab-pane fade in">
                <div class="title">
                  <div class="content">
                    <h6>A</h6>
                  </div>
                </div>
                <div class="elements">
                  <p class="toggle_parent">Aexample <i class="fa fa-angle-right"></i></p>
                  <p class="child_message">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                  </p>
                  <p class="toggle_parent">Aexample <i class="fa fa-angle-right"></i></p>
                  <p class="child_message">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                  </p>
                </div>
                <div class="title">
                  <div class="content">
                    <h6>B</h6>
                  </div>
                </div>
                <div class="elements">
                  <p class="toggle_parent">Aexample <i class="fa fa-angle-right"></i></p>
                  <p class="child_message">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                  </p>
                  <p class="toggle_parent">Aexample <i class="fa fa-angle-right"></i></p>
                  <p class="child_message">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                  </p>
                </div>
                <div class="title">
                  <div class="content">
                    <h6>C</h6>
                  </div>
                </div>
                <div class="elements">
                  <p class="toggle_parent">Aexample <i class="fa fa-angle-right"></i></p>
                  <p class="child_message">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                  </p>
                  <p class="toggle_parent">Aexample <i class="fa fa-angle-right"></i></p>
                  <p class="child_message">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                  </p>
                </div>
                <div class="title">
                  <div class="content">
                    <h6>D</h6>
                  </div>
                </div>
                <div class="elements">
                  <p class="toggle_parent">Aexample <i class="fa fa-angle-right"></i></p>
                  <p class="child_message">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                  </p>
                  <p class="toggle_parent">Aexample <i class="fa fa-angle-right"></i></p>
                  <p class="child_message">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi porta eget tortor quis pretium.
                    Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Album Options-->
    </div>
  </div>
</section>
<!-- End Page Content-->