<!--Page Content-->
<section>
  <div class="page-header bg-slider bg">
    <div id="slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <!-- Slider 1-->
        <div class="carousel-item active" style="background: url('assets/images/banner.jpg')">
          <div class="container-fluid">
            <div class="row">
              <!-- Header Text-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <h5>COURSE 6</h5>
                <h2>Short Game</h2>
                <h6>3 MODULES  | 22 CHAPTERS | 128 VIDEOS</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta eget tortor quis pretium. Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat. Nunc sem est, mattis  rutrum efficitur at, tempus in turpis. Vestibulum eu sem faucibus.</p>
                <div class="course">
                  <div class="button">
                    <a href="#" class="btn">Open Course</a>
                  </div>
                  <div class="bar">
                    <div class="progress">
                      <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="count" data-cunt="86%">86%</span>
                  </div>
                </div>
              </div>
              <!-- End Header Text-->
              <!-- Vide Player-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <img src="assets/images/player.jpg" class="img-full"/>
              </div>
            </div>
          </div>
        </div>
        <!-- Slider 2-->
        <div class="carousel-item" style="background: url('assets/images/banner.jpg')">
          <div class="container-fluid">
            <div class="row">
              <!-- Header Text-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <h5>COURSE 6</h5>
                <h2>Short Game</h2>
                <h6>3 MODULES  | 22 CHAPTERS | 128 VIDEOS</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta eget tortor quis pretium. Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat. Nunc sem est, mattis  rutrum efficitur at, tempus in turpis. Vestibulum eu sem faucibus.</p>
                <div class="course">
                  <div class="button">
                    <a href="#" class="btn">Open Course</a>
                  </div>
                  <div class="bar">
                    <div class="progress">
                      <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="count" data-cunt="86%">86%</span>
                  </div>
                </div>
              </div>
              <!-- End Header Text-->
              <!-- Vide Player-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <img src="assets/images/player.jpg" class="img-full"/>
              </div>
            </div>
          </div>
        </div>
        <!-- Slider 2-->
        <div class="carousel-item" style="background: url('assets/images/banner.jpg')">
          <div class="container-fluid">
            <div class="row">
              <!-- Header Text-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <h5>COURSE 6</h5>
                <h2>Short Game</h2>
                <h6>3 MODULES  | 22 CHAPTERS | 128 VIDEOS</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta eget tortor quis pretium. Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat. Nunc sem est, mattis  rutrum efficitur at, tempus in turpis. Vestibulum eu sem faucibus.</p>
                <div class="course">
                  <div class="button">
                    <a href="#" class="btn">Open Course</a>
                  </div>
                  <div class="bar">
                    <div class="progress">
                      <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="count" data-cunt="86%">86%</span>
                  </div>
                </div>
              </div>
              <!-- End Header Text-->
              <!-- Vide Player-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <img src="assets/images/player.jpg" class="img-full"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="controller">
        <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <ol class="carousel-indicators">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
          <li data-target="#slider" data-slide-to="2"></li>
        </ol>
        <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Page Content-->