<div class="col-lg-12 col-md-12">
  <!-- main content-->
  <div class="content">
      <div class="row inline">
          <!-- Form 1-->
          <div class="col-lg-5 col-md-12 block">
             <div class="forum forum-1">
                 <!--header-->
                  <div class="head">
                     <div class="bg"><img src="assets/images/comminuty.jpg" class="img-full"/></div>
                     <div class="title"><h2><span>COMMUNITY</span></h2></div>
                 </div>
                 <!--Body-->
                 <div class="body">
                     <ul class="status">
                          <li><span>127</span>Post</li>
                          <li><span>245</span>Comments</li>
                          <li><span>346</span>Likes</li>
                     </ul>
                     <div class="links">
                          <div class="members">
                              <ul class="list">
                                  <li><img src="assets/images/avtar.png"/></li>
                                  <li><img src="assets/images/avtar.png"/></li>
                              </ul>
                          </div>
                          <div class="openlink">
                              <a href="#" class="btn opencourse">Open Forum</a>
                          </div>
                     </div>
                 </div>
                 <!-- End Body-->
             </div>
          </div>
           <!-- Form 2-->
          <div class="col-lg-5 col-md-12 block">
              <div class="forum forum-1">
                  <!--header-->
                  <div class="head">
                      <div class="bg"><img src="assets/images/tour-talk.jpg" class="img-full"/></div>
                      <div class="title"><h2><span>TOUR TALK</span></h2></div>
                  </div>
                  <!--Body-->
                 <div class="body">
                      <ul class="status">
                           <li><span>127</span>Post</li>
                           <li><span>245</span>Comments</li>
                           <li><span>346</span>Likes</li>
                      </ul>
                      <div class="links">
                           <div class="members">
                               <ul class="list">
                                   <li><img src="assets/images/avtar.png"/></li>
                                   <li><img src="assets/images/avtar.png"/></li>
                               </ul>
                           </div>
                           <div class="openlink">
                               <a href="#" class="btn opencourse">Open Forum</a>
                           </div>
                      </div>
                  </div>
                  <!-- End Body-->
              </div>
          </div>
           <!-- Form 3-->
          <div class="col-lg-5 col-md-12 block">
              <div class="forum forum-1">
                  <!--header-->
                  <div class="head">
                      <div class="bg"><img src="assets/images/swingtips.jpg" class="img-full"/></div>
                      <div class="title"><h2><span>SWING TIPS</span></h2></div>
                  </div>
                  <!--Body-->
                  <div class="body">
                      <ul class="status">
                              <li><span>127</span>Post</li>
                              <li><span>245</span>Comments</li>
                              <li><span>346</span>Likes</li>
                      </ul>
                      <div class="links">
                              <div class="members">
                                  <ul class="list">
                                      <li><img src="assets/images/avtar.png"/></li>
                                      <li><img src="assets/images/avtar.png"/></li>
                                  </ul>
                              </div>
                              <div class="openlink">
                                  <a href="#" class="btn opencourse">Open Forum</a>
                              </div>
                      </div>
                  </div>
                  <!-- End Body-->
              </div>
          </div>
          <!-- Form 4-->
          <div class="col-lg-5 col-md-12 block">
              <div class="forum forum-1">
                  <!--header-->
                  <div class="head">
                      <div class="bg"><img src="assets/images/equipment.jpg" class="img-full"/></div>
                      <div class="title"><h2><span>EQUIPMENT</span></h2></div>
                  </div>
                  <!--Body-->
                  <div class="body">
                      <ul class="status">
                              <li><span>127</span>Post</li>
                              <li><span>245</span>Comments</li>
                              <li><span>346</span>Likes</li>
                      </ul>
                      <div class="links">
                              <div class="members">
                                  <ul class="list">
                                      <li><img src="assets/images/avtar.png"/></li>
                                      <li><img src="assets/images/avtar.png"/></li>
                                  </ul>
                              </div>
                              <div class="openlink">
                                  <a href="#" class="btn opencourse">Open Forum</a>
                              </div>
                      </div>
                  </div>
                  <!-- End Body-->
              </div>
          </div>
      </div>
  </div>
</div>