.userImgContainer {
    position: relative;
  }
  .userImgEdit {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
  .userImgInfo {
    position: absolute;
    bottom: -17px;
    text-align: center;
    left: 0;
    right: 0;
    background: url('/assets/images/user-bg.png');
    background-size: 75px;
  }
  .userImgInfo p {
    margin: unset;
  }
  .userImgInfo-1 {
    font-size: 26px;
    font-weight: bold;
  }
  .profileContainer {
    margin: 40px 0;
  }
  .profileContainer h4 {
    margin-left: 18px;
    font-weight: 600;
  }
  .profileSidebar .profileContainer:last-child {
    margin: 0;
  }
  .statsContainer ul {
    list-style-type: none;
    text-align: center;
    padding: unset;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .statsContainer ul li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 33%;
  }
  .statsContainer ul li p {
    margin-bottom: 3px;
    font-size: 14px;
  }
  .statsContainer ul li:nth-child(2) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .progressContainer {
    background: #e2e2e2;
    padding: 15px 18px;
    margin: 18px 18px 0 18px;
    position: relative;
    padding-right: 40px;
  }
  .progressContainer .progress {
    margin: unset;
    height: 12px;
  }
  .progressContainer .sr-only {
    position: absolute;
    padding: 0;
    font-size: 12px;
    z-index: 9994;
    right: 8px;
    color: black;
    font-weight: bold;
    width: unset;
    height: unset;
    overflow: unset;
    clip: unset;
  }
  .avatarContainer ul {
    list-style-type: none;
    padding: unset;
    margin: 10px;
    text-align: center;
  }
  .avatarContainer ul li {
    display: inline-block;
    padding: 1%;
  }
  .avatarContainer ul li img {
    max-width: 38px;
  }
  .avatarContainer ul li:last-child {
    position: relative;
  }
  .avatarContainer ul li:last-child span {
    color: #ffffff;
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    font-size: 18px;
  }
  .notifyContainer .circle {
    width: 18%;
    display: inline-block;
  }
  .circle:first-child {
    margin-top: 0;
  }
  .circle {
    position: relative;
    border-radius: 100%;
    width: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;
    z-index: 2;
    color: #a1a1a1;
  }
  .notifyContainer .circleInfo {
    width: 80%;
    display: inline-block;
  }
  .circleInfo .avatarImg {
    width: 20%;
    display: inline-block;
    max-width: 38px;
  }
  .circleInfo .infoText {
    width: 68%;
    display: inline-block;
    vertical-align: middle;
  }
  .infoText a {
    color: #0691ff;
  }
  .notifyContainer .circle {
    width: 18%;
    display: inline-block;
  }
  .circle::before {
    position: absolute;
    border: 1px solid #cccccc;
    width: 0;
    height: 50px;
    display: block;
    content: '';
    left: 50%;
    z-index: 1;
    top: -54px;
    margin-left: -1px;
  }
  .userImg {
    width: 100%;
  }
  .custom_sidebar1 {
    padding: 0;
  }
  .custom_sidebar {
    padding: 0;
    background: #fafafa;
  }
  .circle:first-child::before{

    display:none;
  }
  @media only screen and (max-width: 1100px) {

    .profileContainer h4{
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 767px) {
    .onlyfordesktop {
      display: none;
    }
  }
