
  <div class="custom_sidebar col-xs-12 col-sm-12 col-md-10 col-lg-10">
  <div class="profileSidebar">
    <div class="userImgContainer">
      <img class="userImgEdit" src="assets/images/user_edit.png">
      <img class="userImg" src="assets/images/user.png">
      <div class="userImgInfo">
        <p class="userImgInfo-1">User Name</p>
        <p class="userImgInfo-2">Scottsdale, Arizona</p>
      </div>
    </div>

    <div class="profileContainer">
      <h4>STATISTICS TRENDS</h4>
      <div class="statsContainer">
        <ul>
          <li>
            <p style="color: #169fd8;color: #169fd8;font-size: 30px;font-weight: bold;line-height: 23px;" class="color84">84</p>
            <p>Scoring Avg.</p>
          </li><li>
          <p><img src="assets/images/game.png"></p>
          <p>Ball Striking</p>
        </li><li>
          <p><img src="assets/images/strike.png"></p>
          <p>Short Game</p>
        </li>
        </ul>
      </div>
    </div>

    <div class="profileContainer">
      <h4>ACADEMY PROGRESS</h4>
      <div class="progressContainer">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:43%">
            <span class="sr-only">43%</span>
          </div>
        </div>
      </div>
    </div>

    <div class="profileContainer">
      <h4>MY FRIENDS: 344</h4>
      <div class="avatarContainer">
        <ul>
          <li>
            <img class="avatarImg" src="assets/images/avatar.png">
          </li><li>
          <img class="avatarImg" src="assets/images/avatar.png">
        </li><li>
          <img class="avatarImg" src="assets/images/avatar.png">
        </li><li>
          <img class="avatarImg" src="assets/images/avatar.png">
        </li><li>
          <img class="avatarImg" src="assets/images/avatar.png">
        </li><li>
          <img class="avatarImg" src="assets/images/color-avatar.png">
          <span>+84</span>
        </li>
        </ul>
      </div>
    </div>

    <div class="profileContainer">
      <h4>MY NOTISFICATIONS</h4>
      <div class="notifyContainer">
        <div class="circle">2m</div>
        <div class="circleInfo">
          <img class="avatarImg" src="assets/images/avatar.png">
          <span class="infoText">Added <a href="#">Intersteller</a> to his Playlist</span>
        </div>
        <div class="circle">12h</div>
        <div class="circleInfo">
          <img class="avatarImg" src="assets/images/avatar.png">
          <span class="infoText">Wants to Watch <a href="#">The Imitation game</a> </span>
        </div>
        <div class="circle">15h</div>
        <div class="circleInfo">
          <img class="avatarImg" src="assets/images/avatar.png">
          <span class="infoText">Added <a href="#">Moonlight</a> to his Playlist <a href="#">Best Dramas</a></span>
        </div>
        <div class="circle">3d</div>
        <div class="circleInfo">
          <img class="avatarImg" src="assets/images/avatar.png">
          <span class="infoText">Watched <a href="#">Transformers: The Last Knight</a> </span>
        </div>
        <div class="circle">2w</div>
        <div class="circleInfo">
          <img class="avatarImg" src="assets/images/avatar.png">
          <span class="infoText">Wants to Watch <a href="#">Lo and Behold</a></span>
        </div>
        <div class="circle">3w</div>
        <div class="circleInfo">
          <img class="avatarImg" src="assets/images/avatar.png">
          <span class="infoText">Added <a href="#">Moonlight</a> to his Playlist <a href="#">Best Dramas</a></span>
        </div>
        <div class="circle">4w</div>
        <div class="circleInfo">
          <img class="avatarImg" src="assets/images/avatar.png">
          <span class="infoText">Wants to Watch <a href="#">Nightcrawler</a> </span>
        </div>
      </div>
    </div>
  </div>
</div>


