<div class="custom_skills_container">
  <div class="container">
    <div class="skills_inner_menu">
    <div class="row">
      <div class="col-sm-12  col-xl-3 col-lg-3 col-md-3">
        <div class="custom_skill_heading">
          <h3>FILTER SKILLS + DRILLS BY:</h3>
        </div>
      </div>
      <div class="col-sm-12  col-xl-9 col-lg-9 col-md-9">
        <div class="custom_skill_icons">
         <ul>
           <li class="active">
             <a href="#">
               <img src="assets/images/newicon1.png">
               <span>OFF THE TEE</span>
             </a>
           </li>
           <li>
             <a href="#">
               <img src="assets/images/newicon2.png">
               <span>BALL STRIKING</span>
             </a>
           </li>
           <li>
             <a href="#">
               <img src="assets/images/newicon3.png">
               <span>SHORT GAME</span>
             </a>
           </li>
           <li>
             <a href="#">
               <img src="assets/images/newicon4.png">
               <span>PUTTING</span>
             </a>
           </li>
           <li>
             <a href="#">
               <img src="assets/images/newicon5.png">
               <span>LIES + TERRIAN</span>
             </a>
           </li>
           <li>
             <a href="#">
               <img src="assets/images/newicon6.png">
               <span>COURSE MGMT</span>
             </a>
           </li>
           <li>
             <a href="#">
               <img src="assets/images/newicon7.png">
               <span>MY STATISTICS</span>
             </a>
           </li>
         </ul>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>

          </div>

        </div>

      </div>
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>

          </div>

        </div>

      </div>
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>

          </div>

        </div>

      </div>
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>

          </div>

        </div>

      </div>
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>

          </div>

        </div>

      </div>
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
