  <div class="d-flex flex-column" style="overflow:hidden;">
    <ul class="nav nav-pills d-flex justify-content-center icons flex-nowrap" role="tablist" id="iconTab">
        <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#online-academy" role="tab" aria-controls="online-academy" aria-selected="true">
            <div class="p-2 active">
                <img src="/assets/images/home/icons/AcademyIconHome.png"><br>
                <span>Online Academy</span>
            </div>
        </a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#skills-and-drills" role="tab" aria-controls="skills-and-drills" aria-selected="false">
            <div class="p-2">
                <img src="/assets/images/home/icons/SkillsDrillsIconHome.png"><br>
                <span>Custom Practice</span>
            </div>
        </a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#community-forums" role="tab" aria-controls="community-forums" aria-selected="false">
            <div class="p-2">
                <img src="/assets/images/home/icons/ForumIconHome.png"><br>
                <span>Member Forums</span>
            </div>
        </a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#chat-messenger" role="tab" aria-controls="chat-messenger" aria-selected="false">
            <div class="p-2">
                <img src="/assets/images/home/icons/ChatMessengerIconHome.png"><br>
                <span>Chat Messenger</span>
            </div>
        </a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#members-store" role="tab" aria-controls="members-store" aria-selected="false">
            <div class="p-2">
                <img src="/assets/images/home/icons/MemberStoreIconHome.png"><br>
                <span>Members Store</span>
            </div>
        </a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#play-practise-stats" role="tab" aria-controls="play-practise-stats" aria-selected="false">
            <div class="p-2">
                <img src="/assets/images/home/icons/StatsAppIcon.png"><br>
                <span>Your Dashboard</span>
            </div>
        </a></li>
    </ul>

    <div class="tab-content">
        <div id="online-academy" class="tab-pane fade show active" role="tabpanel">
            <div class="d-flex justify-content-between content flex-column flex-sm-row">
                <div class="p-0 about">
                    <h2>LEARN THE METHOD</h2>
                    <img src="/assets/images/home/elements/ggNewIconSelectorConnect.png" class="d-block d-sm-none">
                    <p class="explain">
                        10 courses, 50+ modules and 140+ sections of learning.
                        Gain an extensive understanding of everything George
                        offers his students on the daily. The Online Academy
                        includes more than 400 videos of the most detailed and
                        digestible golf instruction that has ever exhisted.
                    </p>
                    <p class="short-explain">INCLUDED WITH ALL MEMBERSHIP LEVELS</p>
                    <p class="arrows">
                        <i class="fa fa-chevron-left" (click)="selectTab(1, 6)"></i>
                        <i class="fa fa-chevron-right" (click)="selectTab(1, 2)"></i>
                    </p>
                </div>
                <div class="p-0 portfolio">
                    <img src="/assets/images/home/elements/ggNewIconSelectorConnect-normal.png" class="d-none d-sm-block">
                </div>
            </div>
        </div>

        <div id="skills-and-drills" class="tab-pane fade" role="tabpanel">
            <div class="d-flex justify-content-between content flex-column flex-sm-row">
                <div class="p-0 about">
                    <h2>SKILLS AND DRILLS</h2>
                    <img src="/assets/images/home/elements/ggNewIconSelectorSkillsDrills.png" class="d-block d-sm-none">
                    <p class="explain">
                        The Practice + Play App is a huge asset to anybody who
                        truly wants to improve their overall game. Learn the finder
                        points of disecting your rounds and practice sessions
                        and allow our algorithms to help curate content that
                        directly relates to your needs, based on your goals.
                    </p>
                    <p class="short-explain">INCLUDED WITH MEMBERSHIP LEVELS I && II</p>
                    <p class="arrows">
                        <i class="fa fa-chevron-left" (click)="selectTab(2, 1)"></i>
                        <i class="fa fa-chevron-right" (click)="selectTab(2, 3)"></i>
                    </p>
                </div>
                <div class="p-0 portfolio">
                    <img src="/assets/images/home/elements/ggNewIconSelectorSkillsDrills-normal.png" class="d-none d-sm-block">
                </div>
            </div>
        </div>

        <div id="community-forums" class="tab-pane fade" role="tabpanel">
            <div class="d-flex justify-content-between content flex-column flex-sm-row">
                <div class="p-0 about">
                    <h2>COMMUNITY FORUMS</h2>
                    <img src="/assets/images/home/elements/ggNewIconSelectorConnect.png" class="d-block d-sm-none">
                    <p class="explain">
                        The Practice + Play App is a huge asset to anybody who
                        truly wants to improve their overall game. Learn the finder
                        points of disecting your rounds and practice sessions
                        and allow our algorithms to help curate content that
                        directly relates to your needs, based on your goals.
                    </p>
                    <p class="short-explain">INCLUDED WITH MEMBERSHIP LEVELS I && II</p>
                    <p class="arrows">
                        <i class="fa fa-chevron-left" (click)="selectTab(3, 2)"></i>
                        <i class="fa fa-chevron-right" (click)="selectTab(3, 4)"></i>
                    </p>
                </div>
                <div class="p-0 portfolio">
                    <img src="/assets/images/home/elements/ggNewIconSelectorConnect-normal.png" class="d-none d-sm-block">
                </div>
            </div>
        </div>

        <div id="chat-messenger" class="tab-pane fade" role="tabpanel">
            <div class="d-flex justify-content-between content flex-column flex-sm-row">
                <div class="p-0 about">
                    <h2>CHAT MESSENGER</h2>
                    <img src="/assets/images/home/elements/ggNewIconSelectorConnect.png" class="d-block d-sm-none">
                    <p class="explain">
                        The Practice + Play App is a huge asset to anybody who
                        truly wants to improve their overall game. Learn the finder
                        points of disecting your rounds and practice sessions
                        and allow our algorithms to help curate content that
                        directly relates to your needs, based on your goals.
                    </p>
                    <p class="short-explain">INCLUDED WITH MEMBERSHIP LEVELS I && II</p>
                    <p class="arrows">
                        <i class="fa fa-chevron-left" (click)="selectTab(4, 3)"></i>
                        <i class="fa fa-chevron-right" (click)="selectTab(4, 5)"></i>
                    </p>
                </div>
                <div class="p-0 portfolio">
                    <img src="/assets/images/home/elements/ggNewIconSelectorConnect-normal.png" class="d-none d-sm-block">
                </div>
            </div>
        </div>

        <div id="members-store" class="tab-pane fade" role="tabpanel">
            <div class="d-flex justify-content-between content flex-column flex-sm-row">
                <div class="p-0 about">
                    <h2>MEMBER'S STORE</h2>
                    <img src="/assets/images/home/elements/ggNewIconSelectorData.png" class="d-block d-sm-none">
                    <p class="explain">
                        The Practice + Play App is a huge asset to anybody who
                        truly wants to improve their overall game. Learn the finder
                        points of disecting your rounds and practice sessions
                        and allow our algorithms to help curate content that
                        directly relates to your needs, based on your goals.
                    </p>
                    <p class="short-explain">INCLUDED WITH MEMBERSHIP LEVELS I && II</p>
                    <p class="arrows">
                        <i class="fa fa-chevron-left" (click)="selectTab(5, 4)"></i>
                        <i class="fa fa-chevron-right" (click)="selectTab(5, 6)"></i>
                    </p>
                </div>
                <div class="p-0 portfolio">
                    <img src="/assets/images/home/elements/ggNewIconSelectorData-normal.png" class="d-none d-sm-block">
                </div>
            </div>
        </div>

        <div id="play-practise-stats" class="tab-pane fade" role="tabpanel">
            <div class="d-flex justify-content-between content flex-column flex-sm-row">
                <div class="p-0 about">
                    <h2>PLAY PRACTISE STATS</h2>
                    <img src="/assets/images/home/elements/ggNewIconSelectorData.png" class="d-block d-sm-none">
                    <p class="explain">
                        The Practice + Play App is a huge asset to anybody who
                        truly wants to improve their overall game. Learn the finder
                        points of disecting your rounds and practice sessions
                        and allow our algorithms to help curate content that
                        directly relates to your needs, based on your goals.
                    </p>
                    <p class="short-explain">INCLUDED WITH MEMBERSHIP LEVELS I && II</p>
                    <p class="arrows">
                        <i class="fa fa-chevron-left" (click)="selectTab(6, 5)"></i>
                        <i class="fa fa-chevron-right" (click)="selectTab(6, 1)"></i>
                    </p>
                </div>
                <div class="p-0 portfolio">
                    <img src="/assets/images/home/elements/ggNewIconSelectorData-normal.png" class="d-none d-sm-block">
                </div>
            </div>
        </div>
    </div>
</div>
