<div class="d-flex justify-content-between method flex-column flex-sm-row">
    <div class="p-2 introduction">Video</div>
    <div class="p-2 content">
        <h2>WHAT IS GEORGE'S METHOD?</h2>
        <p class="d-block">
            The beauty in George's methodology is that he really doesn't have one. 
            Rather, George has developed a seamless and dynamic approach to 
            creating match ups for every skill level and physical make up. This 
            coaching process consists of four things.
        </p>
        <div class="row bottom">
            <div class="col-3 text-center method-item pr-px-2">
                <div class="method-content pr-px-18">
                    <img src="/assets/images/home/icons/iconMovement.png" />
                    Movement
                </div>
            </div>
            <div class="col-3 text-center method-item pl-px-2 pr-px-2">
                <div class="method-content pl-px-18 pr-px-18">
                    <img src="/assets/images/home/icons/iconPerformance.png" />
                    Performance
                </div>
            </div>
            <div class="col-3 text-center method-item pl-px-2 pr-px-2">
                <div class="method-content pl-px-18 pr-px-18">
                    <img src="/assets/images/home/icons/iconStatistics.png" />
                    Statistics
                </div>
            </div>
            <div class="col-3 text-center method-item pl-px-2">
                <div class="method-content pl-px-18">
                    <img src="/assets/images/home/icons/iconComplete.png" />
                    Complete
                </div>
            </div>
        </div>
    </div>
</div>
