
<div class="custom_play_list_details">
<div class="row">
    <div class="custom_top_padding col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="custom_playlist_info">
            <div class="name_container">
                <h3>Name of this Playlist</h3>
                <span>...</span>
            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img class="active" src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="audo_controls">

                <audio controls >
                    <source src="https://www.w3schools.com/html/horse.ogg" type="audio/ogg">
                    <source src="https://www.w3schools.com/html/horse.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="custom_top_padding col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="custom_playlist_info">
            <div class="name_container">
                <h3>Name of this Playlist</h3>
                <span>...</span>
            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img class="active" src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="playlist_info">
                <div class="customer_name">
                    <img src="assets/images/customer-image.png"> <h3>pilot</h3>
                </div>
                <div class="playlist_limit">
                    <h3>45 mins</h3>
                </div>
                <div class="playlist_close">
                    <img src="assets/images/closeicon.png">
                </div>

            </div>
            <div class="audo_controls">

                <audio controls >
                    <source src="https://www.w3schools.com/html/horse.ogg" type="audio/ogg">
                    <source src="https://www.w3schools.com/html/horse.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="custom_top_padding col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="custom_upload custom_playlist_info">
            <div class="name_container">
                <h3>add new playlist</h3>
                <span>...</span>
            </div>
            <div class="playlist_info">
             <div class="custom_add_icon">
                 <img src="assets/images/add.png">
             </div>

            </div>
        </div>
    </div>

</div>


</div>

