<!--Page Content-->
<section>
  <div class="page-header bg-slider bg">
    <div id="slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <!-- Slider 1-->
        <div class="carousel-item active" style="background: url('assets/images/blog-banner.png')">
          <div class="container-fluid">
            <div class="row">
              <!-- Header Text-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <h5>FEATURED</h5>
                <h2>NAME OF VLOG GOES RIGHT HERE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta eget tortor quis pretium. Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat. Nunc sem est, mattis  rutrum efficitur at, tempus in turpis. Vestibulum eu sem faucibus.</p>

              </div>
              <!-- End Header Text-->
              <!-- Vide Player-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <img src="assets/images/featured-blog.png" class="img-full"/>
              </div>
            </div>
          </div>
        </div>
        <!-- Slider 2-->
        <div class="carousel-item" style="background: url('assets/images/blog-banner.png')">
          <div class="container-fluid">
            <div class="row">
              <!-- Header Text-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <h5>FEATURED</h5>
                <h2>NAME OF VLOG GOES RIGHT HERE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta eget tortor quis pretium. Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat. Nunc sem est, mattis  rutrum efficitur at, tempus in turpis. Vestibulum eu sem faucibus.</p>

              </div>
              <!-- End Header Text-->
              <!-- Vide Player-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <img src="assets/images/featured-blog.png" class="img-full"/>
              </div>
            </div>
          </div>
        </div>
        <!-- Slider 2-->
        <div class="carousel-item" style="background: url('assets/images/blog-banner.png')">
          <div class="container-fluid">
            <div class="row">
              <!-- Header Text-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <h5>FEATURED</h5>
                <h2>NAME OF VLOG GOES RIGHT HERE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta eget tortor quis pretium. Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat. Nunc sem est, mattis  rutrum efficitur at, tempus in turpis. Vestibulum eu sem faucibus.</p>
              </div>
              <!-- End Header Text-->
              <!-- Vide Player-->
              <div class="vl-m col-xl-6 col-lg-6 col-md-6">
                <img src="assets/images/featured-blog.png" class="img-full"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="controller">
        <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <ol class="carousel-indicators">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
          <li data-target="#slider" data-slide-to="2"></li>
        </ol>
        <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Page Content-->


<section>
  <div class="custom-vlog_container">
    <div class="vlog_navigation">
      <div class="row">
      <div class="col-sm-12  col-xl-1 col-lg-1 col-md-1">
        <div class="vlog-heading">
          <h3>vlogs:</h3>
        </div>
      </div>
      <div class="col-sm-12  col-xl-11 col-lg-11 col-md-11">
        <ul>
          <li>
            <a href="#" class="active">all videos</a>
          </li>
          <li>
            <a href="#">full swing</a>
          </li>
          <li>
            <a href="#">short game</a>
          </li>
          <li>
            <a href="#">equipment</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>

          </div>

        </div>

      </div>
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>

          </div>

        </div>

      </div>
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>

          </div>

        </div>

      </div>
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>

          </div>

        </div>

      </div>
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>

          </div>

        </div>

      </div>
      <div class="col-sm-12  col-xl-4 col-lg-4 col-md-4">
        <div class="single_video_details">
          <div class="video_header">
            <div class="video_title">
              <h3>vlog #123</h3>
            </div>
            <div class="video_spacial_icon">
              <p>
                <i class="fa fa-heart"></i>
                <span>favorite</span>
              </p>
              <p>
                <i class="fa fa-eye"></i>
                <span>unviewed</span>
              </p>

            </div>
          </div>
          <div class="video_container">
            <img src="assets/images/video-image.png">

          </div>
          <div class="video-remaining-info">
            <h3>TITLE OF VLOG GOES RIGHT HERE</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi porta eget tortor quis pretium.
              Integer vehicula lorem quis tellus vehicula, ut pulvinar eros consequat.
              Nunc sem est, mattis rutrum efficitur at, tempus in turpis.
              Vestibulum eu sem faucibus.
              Integer vehicula lorem quis tellus vehicula.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>


</section>