<div class="d-flex justify-content-between flex-sm-row" style="flex-direction: column-reverse;">
    <div class="stats-part">
        <div class="description">
            <h1>LET YOUR STATS<br>DO THE TALKING.</h1>
            <p class="explain">
                Every successful player is in tune with their stats. Off the 
                tee, ball striking, putting results all yield very important 
                numbers. Our goal is to help you identify where you are 
                loosing strokes, and to provide the content and direction 
                you need to improve your game.
            </p>
        </div>
    </div>
    <div class="splash">
        <img src="/assets/images/home/stats-artOverlay.png" class="portfolio">
    </div>
</div>
