<app-landing-page-header></app-landing-page-header>
<div class="ball-background-image">
<app-landing-page-icon-selector></app-landing-page-icon-selector>
</div>
<app-landing-page-method></app-landing-page-method>
<div class="ball-background-image">
<app-landing-page-pros-testimonials></app-landing-page-pros-testimonials>
</div>
<app-landing-page-plan></app-landing-page-plan>
<div class="ball-background-image">
<app-landing-page-frequently-asked></app-landing-page-frequently-asked>
</div>
<app-landing-page-stats></app-landing-page-stats>
<app-landing-page-forum></app-landing-page-forum>
<app-landing-page-knowledge></app-landing-page-knowledge>
<div class="ball-background-image">
<app-landing-page-reserve></app-landing-page-reserve>
</div>
<app-landing-page-footer></app-landing-page-footer>
