<div id="sidebar">
  <div class="content">
      <ul>
          <!--Item -->
          <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                 <p> Posted a <a href="#">video</a> in the <a href="#">SwingTips forum</a>.</p>
              </div>
          </li>
          <!-- End Item-->
          <!--Item -->
          <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p> Commented on <a href="#">Dave Clark’s question</a> in <a href="#">The Academy Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
          <!--Item -->
          <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p> Commented on <a href="#"> Chad Dietz post</a> in the <a href="#">Equipment Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
          <!--Item -->
          <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p> Click on <a href="#"> Brian Smith’s question</a> in the <a href="#">Academy Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
           <!--Item -->
           <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p>Posted a <a href="#"> picture </a> in <a href="#">Equipment Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
          <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p> Commented on <a href="#">Dave Clark’s question</a> in <a href="#">The Academy Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
          <!--Item -->
          <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p> Commented on <a href="#"> Chad Dietz post</a> in the <a href="#">Equipment Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
          <!--Item -->
          <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p> Click on <a href="#"> Brian Smith’s question</a> in the <a href="#">Academy Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
              <!--Item -->
              <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p>Posted a <a href="#"> picture </a> in <a href="#">Equipment Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
          <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p> Commented on <a href="#">Dave Clark’s question</a> in <a href="#">The Academy Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
          <!--Item -->
          <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p> Commented on <a href="#"> Chad Dietz post</a> in the <a href="#">Equipment Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
          <!--Item -->
          <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p> Click on <a href="#"> Brian Smith’s question</a> in the <a href="#">Academy Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
              <!--Item -->
              <li>
              <div class="avtar">
                  <img src="assets/images/avtar.png"/>
              </div>
              <div class="infor">
                  <p>Posted a <a href="#"> picture </a> in <a href="#">Equipment Forum</a></p>
              </div>
          </li>
          <!-- End Item-->
      </ul>  
  </div>
</div>

