@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

#sidebar {
    background: #ebebeb;
    padding: 0 30px;
    height: 100%;
}
#sidebar ul li {
    display: table;
    width: 100%;
    padding: 0 0 30px;
}
#sidebar ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
.content {
    padding-top: 80px;
}
#sidebar ul li .infor {
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
}
#sidebar .avtar {
    display: table-cell;
    width: 50px;
}
#sidebar ul li .infor p {
    margin-bottom: 0;
    color: #000;
  
}
#sidebar ul li a {
    color: #0691ff;
}
