<div class="d-flex flex-column">
    <div class="p-0 splash">
        <h1>CHOOSE A PLAN<br>THAT SUITS YOU.</h1>
    </div>
    <div class="ball-background-image">
        <div class="d-block d-sm-none">
            <div class="d-flex justify-content-center mobile-content flex-column">
                <div class="card plan d-flex justify-content-center flex-row">
                    <button type="button" class="inner">Monthly</button>
                    <button type="button" class="outer">Annually</button>
                </div>
                <div class="card basic">
                    <div class="card-header">
                        <div class="title">LEVEL I</div>
                        <div class="expand">+</div>
                    </div>
                    <div class="card-body">
                        <div class="price">
                            <span class="currency"><sup>$</sup></span>
                            <span class="money">19</span>
                            <span class="period">/month</span>
                        </div>
                        <a class="signup"><span>Sign Up</span></a>
                    </div>
                </div>
                <div class="card standard">
                    <div class="card-header">
                        <div class="title">LEVEL II</div>
                        <div class="expand">+</div>
                    </div>
                    <div class="card-body">
                        <div class="price">
                            <span class="currency"><sup>$</sup></span>
                            <span class="money">29</span>
                            <span class="period">/month</span>
                        </div>
                        <a class="signup"><span>Sign Up</span></a>
                    </div>
                </div>
                <div class="card premium">
                    <div class="card-header">
                        <div class="title">LEVEL III</div>
                        <div class="expand">+</div>
                    </div>
                    <div class="card-body">
                        <div class="price">
                            <span class="currency"><sup>$</sup></span>
                            <span class="money">199</span>
                            <span class="period">/month</span>
                        </div>
                        <a class="signup"><span>Sign Up</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-sm-block">
            <div class="d-flex justify-content-center content flex-wrap">
                <div class="card plans">
                    <div class="card-body">
                        <ul>
                            <li>Online Academy</li>
                            <li>Skills + Drills App</li>
                            <li>Community Forum</li>
                            <li>Blogs & Articles</li>
                            <li>Member's Store</li>
                            <li>Custom Analytics Dashboard</li>
                            <li>Play + Practise App</li>
                            <li>Personal Certified Coach</li>
                        </ul>
                        <div class="card-footer">
                            <div class="info">
                                <div>
                                    Pick your billing schedule. We offer
                                    affordable and transparent plans on a
                                    monthly and yearly basis
                                </div>
                            </div>
                            <div class="btn-group justify-content-center btn-group-lg" role="group">
                                <button type="button" class="inner">Monthly</button>
                                <button type="button" class="outer">Annually</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card basic">
                    <div class="card-header">LEVEL I</div>
                    <div class="card-body">
                        <ul>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="unchecked"><span class="fa fa-remove"></span></li>
                            <li class="unchecked"><span class="fa fa-remove"></span></li>
                            <li class="unchecked"><span class="fa fa-remove"></span></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="info price" style="margin-bottom: -40px !important;">
                            <div>
                                <span class="currency"><sup>$</sup></span>
                                <span class="money">29</span>
                                <span class="period">/month</span>
                            </div>
                        </div>
                        <div class="btn-group justify-content-center btn-group-lg purchase" role="group">
                            <button type="button" class="inner">Purchase</button>
                        </div>
                    </div>
                </div>
                <div class="card standard">
                    <div class="card-header">LEVEL II</div>
                    <div class="card-body">
                        <ul>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="unchecked"><span class="fa fa-remove"></span></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="info price" style="margin-bottom: -40px !important;">
                            <div>
                                <span class="currency"><sup>$</sup></span>
                                <span class="money">39</span>
                                <span class="period">/month</span>
                            </div>
                        </div>
                        <div class="btn-group justify-content-center btn-group-lg purchase" role="group">
                            <button type="button" class="inner">Purchase</button>
                        </div>
                    </div>
                </div>
                <div class="card premium">
                    <div class="card-header">LEVEL III</div>
                    <div class="card-body">
                        <ul>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                            <li class="checked"><span class="fa fa-check"></span></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="info price" style="margin-bottom: -40px !important;">
                            <div>
                                <span class="currency"><sup>$</sup></span>
                                <span class="money">199</span>
                                <span class="period">/month</span>
                            </div>
                        </div>
                        <div class="btn-group justify-content-center btn-group-lg purchase" role="group">
                            <button type="button" class="inner">Purchase</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
