<div class="d-flex justify-content-between flex-sm-row" style="flex-direction: column-reverse;">
  <div class="knowledge-part">
    <div class="description">
      <h1>TRUST IN THE
        <br>INFORMATION.</h1>
      <p class="explain">
        George has been on a mission to identify and develop the best possible match ups for creating a powerful and efficient golf
        swing. In the end, Georges biggest contribution to golf will be his selfless quest to empower golfers every level
        with the right information.
      </p>
    </div>
  </div>
  <div class="splash">
    <img src="/assets/images/home/elements/georgeThought.png" class="portfolio">
  </div>
</div>

