<div class="menu_padding">
    <div class="col-md-4">
      <div class="row" style="background: #F1F1F1;min-height:120px;">
          <div class="col-md-8" >
            <h3 style="margin-left:10px;margin-top: 15%;"><b>Overview:</b></h3>
          </div>
        <div class="col-md-4"  style="min-height:120px;">
            <button type="button" class="button btn-info" style="background: #0691FF;margin-top: 40px;">Download <span style="font-size: 7px;">CSV</span> <span class="glyphicon glyphicon-download"></span></button>
          </div>
      </div>	
          <div class="row" style="min-height: 120PX;text-align: center;">
            <div class="col-md-3" style="margin-top: 7%;"><b>SCHORING</b><br>
              <b>84</b>
              <p style="font-size: 8px">AVG Score</p>
            </div>
            <div class="col-md-3" style="margin-top: 7%;"><b>FAIR WAYS</b><br>
              <b>16%</b>
              <p style="font-size: 8px">Fairways Hit</p>
            </div>
            <div class="col-md-3" style="margin-top: 7%;"><b>GREENS</b><br>
              <b>32%</b>
              <p style="font-size: 8px">Greens Hit</p>
            </div>
            <div class="col-md-3" style="margin-top: 7%;"><b>PUTTING</b><br>
              <b>2.8</b>
              <p style="font-size: 8px">Putts per hole</p>
            </div>
          </div>
      <div class="row" style="background: #F1F1F1;min-height:120px;">
          <div class="col-md-5" >
            <h3 style="margin-left:10px;margin-top: 40px;"><b>Goals:</b></h3>
          </div>
          <div class="col-md-7" >
            <button type="button" class="button btn-info" style="background: #0691FF;margin-top:40px;height:30px;">NEED HEALP? FIND A COACH</button>
          </div>
      </div>	
  
  
  
      <div class="row" style="min-height: 120PX;text-align: center;">
            <div class="col-md-3" style="margin-top: 7%;"><b>SCHORING</b><br>
              <b>76</b>
              <br><br><br><p style="font-size: 18px;color:red;">+10</p>
            </div>
            <div class="col-md-3" style="margin-top: 7%;"><b>FAIR WAYS</b><br>
              <b>40%</b>
              <br><br><br><p style="font-size: 18px;color:red;">-24%</p>
            </div>
            <div class="col-md-3" style="margin-top: 7%;"><b>GREENS</b><br>
              <b>60%</b>
              <br><br><br><p style="font-size: 18px;color:red;">-28%</p>
            </div>
            <div class="col-md-3" style="margin-top: 7%;"><b>PUTTING</b><br>
              <b>1.8</b>
              <br><br><br><p style="font-size: 18px;color:red;">+1</p>
            </div>
          </div>		
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>